/* Common */
.commonPopup { background-color: #f9f9f9; border: 3px solid #002050; border-radius: 20px; width: 40%; height: 68%; overflow: hidden; box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); font-family: Arial, sans-serif; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.commonPopup-header { position: relative; text-align: center; font-size: 18px; padding: 10px; background-color: #002050; color: #fff; border: none;}
.commonback-button { position: absolute; top: 0; left: 0; width: 90px; cursor: pointer; background-color: #333; color: #fff; padding: 9px; border-top-left-radius: 20px; border-bottom-right-radius: 15px; }
.commonSection { padding: 10px; border-right: 3px solid #ccc; overflow-y: scroll; }

.iframe-container { overflow: hidden; }


/* ShowDirtyCSS */
.dirtyFieldsPopup-content { padding: 15px; height: 158%; }
.scrollable-section { height: 52%; overflow-y: auto; }

/* entityInfo */
.content-section { text-align: left; height: 100%; width: 100%; }
.entityInfoPopup-row { display: flex; height: 100%; }
.scroll-section { height: 75%; overflow-y: auto; }

/* copySecurity */
.securityPopup-row { display: flex; }    
.user-section h3 { text-align: center; margin-bottom: 10px; color: #444; }    
.user-section { text-align: center; height: 190px; width: 50%;}    
.user-section input { margin-bottom: 10px; width: 230px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; }        
.user-section #userList { margin-bottom: 15px; max-height: 130px; overflow-y: scroll; scrollbar-width: thin; -ms-overflow-style: auto; }         
.user-section #userList::-webkit-scrollbar { display: none; }        
.user-section #userList::-webkit-scrollbar-thumb { background: #ccc; }    
.user-list-container { max-height: 110px; overflow-y: auto; }
.roles-and-teams-list-row { max-height: 75%; margin-left: 10px; overflow-y: auto; }    
.details-section-row { display: inline-block; width: 50%; height: 150px; margin-left: 10px; vertical-align: top; box-sizing: border-box; text-align: left; }    
.selected { background-color: #e0e0e0; }        
.user { cursor: pointer; padding: 3px; font-size: 14px; transition: background-color 0.3s; }        
.user:hover { background-color: #f0f0f0; }    
#sectionsRow { white-space: nowrap; } 		
.submit-button-container { text-align: center; padding: 20px; width: 95%; }      
#submitButton { display: none; margin: auto; padding: 10px 20px; font-size: 16px; width: 250px; background-color: #002050; color: white; border: none; cursor: pointer; border-radius: 5px; transition: background-color 0.3s; }      
#submitButton:hover { background-color: #103e89; }

/* AssignSecurity */
.assignPopup { background-color: #f9f9f9; border: 3px solid #002050; border-radius: 20px; width: 55%; height: 85%; overflow: hidden; box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); font-family: Arial, sans-serif; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.assignSection { padding: 10px; border-right: 3px solid #ccc; overflow-y: scroll; }
.assignSecurityPopup-row { display: flex; }    
.leftUser-section h3 { text-align: center; margin-bottom: 10px; color: #444; }    
.leftUser-section { text-align: left; height: 192px; width: 35%; padding-left: 25px; }
.leftUser-section input { margin-bottom: 10px; width: 230px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; }        
.leftUser-section #userList { margin-bottom: 15px; max-height: 130px; overflow-y: scroll; scrollbar-width: thin; -ms-overflow-style: auto; }         
.leftUser-section #userList::-webkit-scrollbar { display: none; }        
.leftUser-section #userList::-webkit-scrollbar-thumb { background: #ccc; }    
.leftUser-list-container { max-height: 110px; overflow-y: auto; }
.leftDetails-section-row { display: inline-block; width: 35%; height: 235px; margin-left: 38px; vertical-align: top; box-sizing: border-box; text-align: left; }

.rightBuss-section h3 { text-align: center; margin-bottom: 10px; color: #444; }    
.rightBuss-section { text-align: center; height: 190px; width: 60%;}
.rightTeam-section { text-align: center; height: 215px; width: 60%;}
.rightBuss-section input { margin-bottom: 10px; width: 230px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; }
.rightTeam-section input { margin-bottom: 10px; width: 230px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; }    
.rightBuss-section #userList { margin-bottom: 15px; max-height: 130px; overflow-y: scroll; scrollbar-width: thin; -ms-overflow-style: auto; }         
.rightBuss-section #userList::-webkit-scrollbar { display: none; }        
.rightBuss-section #userList::-webkit-scrollbar-thumb { background: #ccc; }    
.rightBuss-list-container { max-height: 110px; overflow-y: auto; }
.rightDetails-section-row { display: inline-block; width: 60%; height: 150px; margin-left: 19px; vertical-align: top; box-sizing: border-box; text-align: left; }

.leftRoles-and-teams-list-row { max-height: 75%; margin-left: 10px; overflow-y: auto; }    
    
.userSelected { background-color: #e0e0e0; }        
.user { cursor: pointer; padding: 3px; font-size: 14px; transition: background-color 0.3s; }        
.user:hover { background-color: #f0f0f0; }    
#sectionsRow { white-space: nowrap; }

.businessUnit-list-container { flex: 1; max-height: 145px; overflow-y: auto; text-align: left; }
.sectionWrapper { display: flex; }
.assignCheckbox { margin: 0px 5px 0 0; width: 20px !important; height: 15px; }

#teamsList {
  width: 100%;
}
.team-checkbox-container {
  flex: 0;
  margin-right: 20px;
}
.team-action-checkboxes {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.team-action-checkboxes input[type="checkbox"] {
  margin-right: 8px;
}
.team-action-checkboxes label {
  margin-right: 16px;
}
.teams-wrapper {
  display: flex;
  align-items: flex-start;
}
